{{pt-aside plantedTrees=filteredTrees.length}}

<section class="content">
  {{pt-main/pt-header filters=filters}}
  <div class="offset"></div>
  {{pt-main/pt-gallery trees=filteredTrees}}
  {{pt-main/pt-footer}}
</section>
