.carousel.gallery-modal-carousel {
  .carousel-inner {
    .item {
      background-color: $black;
      transition: none;
      width: 100%;

      img {
        display: block;
        margin: 0 auto;
        max-height: 50.8rem;
        width: auto;
      }

      .captions {
        bottom: 1rem;
        left: 1.7rem;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 1.7rem;
        width: auto;

        h3 {
          background-color: $black-opacity-0-7;
          border-radius: .28rem;
          color: $white;
          float: left;
          font-size: 2rem;
          margin: 0;
          padding: .6rem 1rem 1rem;

          small {
            color: $alto;
            font-size: 1.2rem;
          }
        }

        button {
          float: left;
          left: 1.7rem;
          padding: .95rem 1.7rem;
          position: relative;
        }
      }
    }
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    align-items: center;
    bottom: 0;
    color: $white;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    font-size: 5rem;
    font-weight: 100;
    justify-content: center;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 0;
    width: 15%;
  }
}

@media #{$xs-md} {
  .carousel.gallery-modal-carousel {
    .carousel-inner {
      .item {
        .captions {
          bottom: .7rem;
          left: .7rem;

          h3 {
            border-radius: .15rem;
            font-size: 1rem;
            padding: .65rem .7rem;

            small { font-size: .7rem; }
          }

          button {
            font-size: 1rem;
            padding: .4rem 1rem .2rem;
          }
        }
      }
    }
  }
}
