#modal-carousel {
  .carousel-inner {
    .item {
      background-color: #000;
      transition: none;
      width: 100%;

      img {
        display: block;
        margin: 0 auto;x
        max-height: 50.8rem;
        width: 100%;
      }

      h3 {
        position: absolute;
        bottom: 1rem;
        left: 1.7rem;
        color: $white;
        font-size: 2rem;
        padding: .6rem 1rem 1rem;
        margin: 0;
        background-color: rgba(0, 0, 0, .7);
        border-radius: .28rem;

        small {
          color: $alto;
          font-size: 1.2rem;
        }
      }
    }
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: $white;
    text-align: center;
    opacity: 1;
    font-size: 5rem;
    font-weight: 100;
  }
}

@media #{$xs-md} {
  #modal-carousel {
    .carousel-inner {
      .item {
        h3 {
          font-size: 1rem;
          border-radius: .15rem;
          bottom: .7rem;
          left: .7rem;
          padding: .45rem .7rem .65rem;

          small { font-size: .7rem; }
        }
      }
    }
  }
}
