#modal-gallery {
  .modal-content {
    border-radius: 0;
    position: relative;
  }

  .modal-dialog {
    &.modal-lg {
      width: 82%;
      height: auto;
      max-height: 90%;
      overflow: hidden;
    }
  }

  .modal-header {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 2rem 2.5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 0;

    button {
      opacity: 1;

      span {
        color: #fff;
        font-weight: 100;
        font-size: 3rem;
      }
    }
  }

  .modal-body { padding: 0; }

  .modal-footer {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 2rem 2.5rem;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 0;
  }
}

@media #{$xs-md} {
  #modal-gallery.modal {
    padding: 0 15px;

    .modal-dialog {
      width: 100%;
      margin-right: 0;
      margin-left: 0;

      .modal-footer { padding: .7rem; }
    }
  }
}
