#modal-carousel {
  .carousel-inner {
    .item {
      width: 100%;
      background-color: #000;
      transition: none;

      img {
        display: block;
        margin: 0 auto;
        width: auto;
        max-height: 50.8rem;
      }

      h3 {
        position: absolute;
        bottom: 1rem;
        left: 1.7rem;
        color: white;
        font-size: 2rem;
        padding: .6rem 1rem 1rem;
        margin: 0;
        background-color: rgba(0, 0, 0, .7);
        border-radius: .28rem;

        small {
          color: $alto;
          font-size: 1.2rem;
        }
      }
    }
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 1;
    font-size: 5rem;
    font-weight: 100;
  }
}
