aside {
  float: left;
  width: 22rem;
  background-color: #fff;
  height: 200rem;
  position: fixed;
  display: block;
  border-right: 1px solid #eee;

  .picture-container {
    text-decoration: none;
    display: block;
    margin: 0 0 .7rem 0;
    padding: 0;
    width: 100%;
    height: auto;

    .picture {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  .details {
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0 0 .75rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 3rem;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 100;
      margin: 0 0 .4rem;
      padding: 0;
      width: 100%;
      display: block;

      a {
        color: inherit;
        display: block;
        width: 100%;
        padding: .4rem;
        border-radius: .25rem;
        border: .14rem solid transparent;

        &:hover,
        &:focus {
          text-decoration: none;
          color: inherit;
        }

        &:hover,
        &.active {
          background-color: #eee;
          border-color: #ddd;
        }

        &.active {
          font-weight: 900;
        }
      }
    }
  }

  .btns-conversion {
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: #eee;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    border-top: .14rem solid #ddd;

    span { margin: 0 1rem; }
  }
}

@media #{$xs-sm} {
  aside {
    .picture-container {
      width: 20%;
      padding: 1.4rem 1rem 0;

      .picture {
        width: 6rem;
      }
    }

    .details {
      padding: 2.7rem 0 0;
      width: 80%;
    }
  }
}

@media #{$xs-md} {
  aside {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    top: 0;
    display: block;
    border: 0;
    border-bottom: .14rem solid #eee;

    .picture-container {
      float: left;

      .picture {
        border-radius: 10rem;
      }
    }

    .details {
      display: block;
      float: left;
    }

    .naming {
      display: inline-block;
    }

    h1 {
      font-size: 1.8rem;
      margin: 0 0 .4rem;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0 0 2rem;
    }

    h1,
    h2 {
      padding: 0;
      text-align: center;
    }

    ul {
      display: inline-block;
      float: right;
      padding: .7rem 0;

      li {
        margin: 0;
        display: block;
        width: 7rem;
        float: left;
        text-align: center;

        a {
          font-size: 1.4rem;
          padding: .3rem .5rem;
          border-radius: 0;
          border: 0;

          &.active {
            background-color: transparent;
            font-weight: 900;
          }

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .btns-conversion {
      display: none;
    }
  }
}

@media #{$sm-md} {
  aside {
    .picture-container {
      width: 15%;
      padding: 1rem;

      .picture {
        width: 7rem;
      }
    }

    .details {
      padding: 3rem 0 0;
      width: 85%;
    }
  }
}
