.btn {
  border-radius: .12rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem 1rem;

  &:focus { outline: 0; }

  &.btn-success {
    background-color: $fruit-salad
  }

  &.btn-subtle {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: $cadet-blue;
    font-size: inherit;
    margin: 0 .5rem;
    padding: 0;

    &,
    &:hover,
    &:focus {
      background-color: transparent;
      color: $cadet-blue;
      outline: 0;
    }
  }
}
