.btn {
  border-radius: .12rem;
  font-weight: bold;
  padding: .5rem 1rem;
  font-size: 1.2rem;

  &:focus { outline: 0; }

  &.btn-success {
    background-color: #4caf50;
  }

  &.btn-subtle {
    background-color: transparent;
    border: none;
    color: #aab8c2;
    padding: 0;
    font-size: inherit;
    margin: 0 .5rem;
    box-shadow: none;

    &,
    &:hover,
    &:focus {
      outline: 0;
      background-color: transparent;
      color: #aab8c2;
    }
  }
}
