$white: #fff;
$black: #000;
$gallery: #eee;
$alto: #ddd;
$cadet-blue: #aab8c2;
$shark: #212529;
$fruit-salad: #4caf50;
$black-opacity-0-1: rgba(0, 0, 0, .1);
$black-opacity-0-55: rgba(0, 0, 0, .55);
$black-opacity-0-7: rgba(0, 0, 0, .8);
