.content {
  float: left;
  left: 22rem;
  position: relative;
  width: calc(100% - 22rem);
}

@media #{$xs-sm} {
  .content {
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media #{$sm-md} {
  .content {
    left: 0;
    top: 0;
    width: 100%;
  }
}
