footer {
  display: block;
  background-color: #eee;
  width: 100%;

  .cols-container { height: 8rem; }

  .col-logo {
    text-align: left;
    padding: 3rem;

    .logo { font-size: 2rem; }
  }

  .col-share {
    text-align: right;
    padding: 3.2rem 3rem 3rem;

    a { margin: 0 .2rem 0; }
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  .footer-copyright {
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .10);
  }
}
