footer {
  background-color: $gallery;
  display: block;
  width: 100%;

  .cols-container { height: 8rem; }

  .col-logo {
    padding: 3rem;
    text-align: left;

    .logo {
      font-size: 2rem;

      img {
        height: 3rem;
        top: -.4rem;
      }
    }
  }

  .col-share {
    padding: 3.2rem 3rem 3rem;
    text-align: right;

    a { margin: 0 .2rem; }
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  .footer-copyright {
    background-color: $black-opacity-0-1;
    padding: 2rem;
    text-align: center;
  }
}
