.gallery { width: 100%; }

.gallery-items {
  height: auto;
  padding: .3rem;
  position: relative;
  width: 100%;

  a {
    border: 0;
    display: block;
    float: left;
    height: calc(33vw - 78px);
    margin: 0;
    padding: .3rem;
    width: calc(33vw - 78px);

    &:hover {
      .overlay,
      .caption, {
        opacity: 1;
      }
    }

    .item-content {
      cursor: pointer;
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    img {
      border: 0;
      display: block;
      height: 100%;
      left: 0;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scale(1.5);
      transition: opacity .5s;
      width: auto;
      z-index: 0;

      &.ghost { opacity: 0; }
    }

    .overlay {
      background-color: $black-opacity-0-55;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .overlay,
    .caption {
      opacity: 0;
      transition: opacity .3s;
    }

    .caption {
      align-items: center;
      border: 0;
      color: $cadet-blue;
      cursor: auto;
      display: flex;
      flex-wrap: nowrap;
      font-size: 1.4rem;
      font-weight: 400;
      height: 4rem;
      justify-content: space-between;
      left: 0;
      margin: 0;
      padding: 0 1.2rem;
      position: absolute;
      width: 100%;
      z-index: 2;

      &.top {
        top: 0;

        .actions {
          display: block;
          width: 100%;

          .visibility { float: right; }
        }
      }

      &.bottom { bottom: 0; }

      p {
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin: 0 0 .4rem;
        padding: 0;
        white-space: nowrap;

        small {
          font-size: 1rem;
          line-height: .8rem;
        }
      }
    }
  }
}

@media #{$xs-sm} {
  .gallery {
    min-width: auto;
    width: 100%;
  }

  .gallery-items {
    padding: .5rem;

    a {
      height: calc(100vw - 2.5rem);
      padding: .5rem;
      width: calc(100vw - 2.5rem);
    }
  }
}

@media #{$xs-md} {
  .gallery {
    min-width: auto;
    width: 100%;
  }
}

@media #{$sm-md} {
  .gallery-items {
    padding: .5rem;

    a {
      height: calc(50vw - 13px);
      padding: .25rem;
      width: calc(50vw - 13px);
    }
  }
}
