.gallery {
  width: 100rem;
  min-height: 50rem;
}

.gallery-items {
  position: relative;
  overflow: auto;
  width: 100%;
  height: auto;
  padding: .2rem;

  a {
    width: 24.85rem;
    height: 24.85rem;
    display: block;
    float: left;
    margin: 0;
    padding: .2rem;
    border: 0;

    &:hover {
      .overlay,
      .caption, {
        opacity: 1;
      }
    }

    .item-content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    img {
      position: absolute;
      display: block;
      width: auto;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0 auto;
      border: 0;
      z-index: 0;
      transform: scale(1.5);
      transition: opacity .5s;

      &.ghost { opacity: 0; }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.55);
      z-index: 1;
    }

    .overlay,
    .caption {
      opacity: 0;
      transition: opacity .3s;
    }

    .caption {
      display: block;
      font-size: 1.4rem;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      color: #aab8c2;
      font-weight: 400;
      margin: 0;
      padding: 0 1.2rem;
      border: 0;
      z-index: 2;
      cursor: auto;

      &.top {
        top: 0;

        .actions {
          display: block;
          width: 100%;

          .visibility { float: right; }
        }
      }

      &.bottom { bottom: 0; }

      p {
        margin: 0 0 .4rem;
        padding: 0;
        line-height: normal;
        white-space: nowrap;
      }
    }
  }
}
