.gallery {
  width: 100%;
}

.gallery-items {
  position: relative;
  width: 100%;
  height: auto;
  padding: .3rem;

  a {
    // width: 33%;
    // height: auto;

    // width: calc(33vw - 73.3333333px);
    // height: calc(33vw - 73.3333333px);

    width: calc(33vw - 78px);
    height: calc(33vw - 78px);

    display: block;
    float: left;
    margin: 0;
    padding: .3rem;
    border: 0;

    &:hover {
      .overlay,
      .caption, {
        opacity: 1;
      }
    }

    .item-content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    img {
      position: absolute;
      display: block;
      width: auto;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0 auto;
      border: 0;
      z-index: 0;
      transform: scale(1.5);
      transition: opacity .5s;

      &.ghost { opacity: 0; }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.55);
      z-index: 1;
    }

    .overlay,
    .caption {
      opacity: 0;
      transition: opacity .3s;
    }

    .caption {
      display: block;
      font-size: 1.4rem;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      color: #aab8c2;
      font-weight: 400;
      margin: 0;
      padding: 0 1.2rem;
      border: 0;
      z-index: 2;
      cursor: auto;

      &.top {
        top: 0;

        .actions {
          display: block;
          width: 100%;

          .visibility { float: right; }
        }
      }

      &.bottom { bottom: 0; }

      p {
        margin: 0 0 .4rem;
        padding: 0;
        font-size: 1.3rem;
        line-height: 1.4rem;
        white-space: nowrap;

        small {
          font-size: 1rem;
          line-height: .8rem;
        }
      }
    }
  }
}

@media #{$xs-sm} {
  .gallery {
    width: 100%;
    min-width: auto;
  }

  .gallery-items {
    padding: .5rem;

    a {
      width: calc(100vw - 2.5rem);
      height: calc(100vw - 2.5rem);
      padding: .5rem;
    }
  }
}

@media #{$xs-md} {
  .gallery {
    width: 100%;
    min-width: auto;
  }
}

@media #{$sm-md} {
  .gallery-items {
    padding: .5rem;

    a {
      width: calc(50vw - 13px);
      height: calc(50vw - 13px);
      padding: .25rem;
    }
  }
}
