header {
  align-items: center;
  background-color: $white;
  border-bottom: .14rem solid $black-opacity-0-1;
  display: flex;
  flex-wrap: nowrap;
  height: 5rem;
  justify-content: space-between;
  padding: 1.3rem;
  position: fixed;
  width: calc(100% - 22rem);
  z-index: 3;

  + .offset {
    content: '';
    display: block;
    height: 5rem;
    width: 100%;
  }

  .btn-group { white-space: nowrap; }

  a {
    &,
    &:hover,
    &:focus {
      color: inherit;
    }

    &.logo {
      font-size: 2rem;

      img {
        height: 3rem;
        top: -.4rem;
      }
    }
  }

  .search-input {
    display: inline-block;
    height: 3rem;
    width: 20rem;
  }

  ul {
    li { display: inline-block; }
  }
}

@media #{$xs-sm} {
  header {
    .search-input { width: 11rem; }
  }
}

@media #{$xs-md} {
  header {
    position: absolute;
    width: 100%;

    .logo { display: none; }
  }
}

@media #{$sm-md} {
  header {
    .search-input { width: 20rem; }
  }
}
