.heart {
  background: url('images/gallery/heart.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  position: relative;
  right: -4rem;
  top: 0;
  transform: scale(.4);
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  width: 100px;

  &.is-active {
    background-position: -2800px 0;
    transition-duration: 1s;
  }
}
