.logo {
  text-decoration: none;
  font-family: $f-primary;
  white-space: nowrap;
  color: #4caf50 !important;

  &:hover,
  &:focus,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: inline-block;
    position: relative;
    left: -.4rem;
    width: auto;
  }
}
