.logo {
  text-decoration: none;
  font-family: $f-primary;

  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  i.fa.fa-tree {
    background: -webkit-linear-gradient(#4caf50, #aed581);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: -.4rem;
    transform: scale(1.4);
  }
}
