<div class="empty">
  <h3>
    <div class="mb-2">
      <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
      <span class="sr-only">Isn't It a Pity</span>
    </div>

    Ops, no register match
    your filter criterea
  </h3>

  <h4>
    Please, revise it and try again
  </h4>
</div>
