<div class="modal"
     id="modal-gallery"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-title"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {{pt-main/pt-gallery/pt-modal-carousel trees=trees}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" {{action 'toggleLike' tree}}>
          Like
          <span class="badge badge-pill badge-light">{{tree.likes}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
