<div class="container-fluid">
  <div class="row cols-container">
    <div class="col-xs-6 col-logo">
      {{#link-to 'index' class='logo'}}
        PT <i class="fa fa-tree"></i>
      {{/link-to}}
    </div>

    <div class="col-xs-6 col-share">
      <a href="#" title="Get in touch" data-toggle="tooltip" data-placement="top" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>

      <a href="#" title="Follow us on Facebook" data-toggle="tooltip" data-placement="top" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>

      <a href="#" title="Follow us on Twitter" data-toggle="tooltip" data-placement="top" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="#" title="Fork on GitHub" data-toggle="tooltip" data-placement="top" target="_blank">
        <i class="fa fa-github-alt"></i>
      </a>
    </div>
  </div>
</div>

<div class="footer-copyright">
  © 2017 Copyright

  {{#link-to 'index' class=''}}
    Planted Trees
  {{/link-to}}
</div>
