<article class="gallery">
  <div class="gallery-items">
    {{#each trees as |tree|}}
      {{pt-main/pt-gallery/pt-gallery-item
        tree=tree
        id=(concat 'gallery-item-' tree.external_id)
        showInModal='showInModal'
        toggleLike='toggleLike'
        setItemHeight='setItemHeight'}}
    {{else}}
      {{pt-main/pt-gallery/pt-empty}}
    {{/each}}
  </div>
</article>

{{pt-main/pt-gallery/pt-modal
  trees=trees
  tree=tree
  toggleLike='toggleLike'}}
<div class="clearfix"></div>
