<article class="gallery">
  <div class="gallery-items">
    {{#each trees as |tree|}}
      {{pt-main/pt-gallery/pt-gallery-item tree=tree}}
    {{/each}}
  </div>
</article>

<div class="clearfix"></div>
