<div class="btn-group" role="group">
  <button type="button" class="btn btn-default">Like</button>
  <button type="button" class="btn btn-default">Follow</button>
  <button type="button" class="btn btn-default">Share</button>
</div>

{{input type='text' value=filters.name class='form-control search-input' placeholder='Search'}}
